# Root folder

# Dependencies
node_modules
/.pnp
.pnp.js

# Production builds
es
dist
types

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage

# IDE's
.idea


# Examples folder

# Dependencies
examples/*/node_modules
examples/*/.pnp
examples/*/.pnp.js

# Production builds
examples/*/build

# Misc
examples/*/.DS_Store
examples/*/.env.local
examples/*/.env.development.local
examples/*/.env.test.local
examples/*/.env.production.local

# Logs
examples/*/npm-debug.log*
examples/*/yarn-debug.log*
examples/*/yarn-error.log*

# Testing
examples/*/coverage

# IDE's
examples/*/.idea
